SQLALCHEMY_TRACK_MODIFICATIONS =
SECRET_KEY =

DB_USERNAME = 
DB_PASS =
DB_NAME =
DB_HOST =
DB_DRIVER =


MAIL_SERVER =
MAIL_PORT =
MAIL_USE_TLS =
MAIL_USERNAME =
MAIL_PASSWORD =

PUBLISHABLE_KEY =
SECRET_KEY =
WEBHOOK_SECRET =

