<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trang chủ{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700&display=swap"
        rel="stylesheet">

    {% block styles%}
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
    {% endblock %}

    <script>
        // Khai báo biến global chứa đường dẫn chuẩn
        const NOTIFY_SOUND_URL = "{{ url_for('static', filename='sounds/notification.mp3') }}";
        console.log(NOTIFY_SOUND_URL);
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="{{ url_for('static', filename='js/header.js') }}"></script>
    <script defer src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/admin/admin_common.js') }}"></script>
    {% block scripts %}
    {% endblock %}

</head>

<body>
    <aside class="sidebar">
        <div class="sidebar-header">
            <a href="/" class="logo">
                <span>🌸</span> Sakura Restaurant
            </a>
        </div>

        {% include 'components/sidebar.html' %}

    </aside>

    <div class="main-wrapper">
        {% include "components/header.html"%}




        {% block content required%}

        {% endblock %}


    </div>

</body>

</html>