<aside class="sidebar">
  <div class="sidebar-header">
    <a href="#" class="logo">
      <span>🌸</span>
      Sakura Restaurant
    </a>
  </div>

  <ul class="nav-menu">
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="icon">🏠</span> Tổng quan (Dashboard)
      </a>
    </li>
    <li class="nav-item">
      <a href="{{url_for('index.so_do_ban')}}" class="nav-link active">
        <span class="icon">🗺️</span> Sơ Đồ Bàn
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="icon">📅</span> Quản lý Đặt Bàn
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="icon">🧾</span> Quản lý Order
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"> <span class="icon">💳</span> Thanh Toán </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"> <span class="icon">🧑</span> Khách hàng </a>
    </li>
  </ul>

  <div class="sidebar-footer">
    <ul class="nav-menu">
      <li class="nav-item">
        <a href="#" class="nav-link"> <span class="icon">⚙️</span> Cài đặt </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" style="color: #e53e3e">
          <span class="icon">🚪</span> Đăng xuất
        </a>
      </li>
    </ul>
  </div>
</aside>
